*{
    box-sizing: border-box;
    font-family: 'Caveat Brush', cursive;
    font-family: 'Ubuntu', sans-serif;
}

body {
background-image: url("/img/wp2894552-bomb-wallpaper.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  position: sticky;
  bottom: 0;
  visibility: hidden;
}

@media (min-height: 600px) {
  footer {
    visibility: visible;
  }
}

.board-game{
    width: min(95vw, 700px);
    border: solid;
    margin: auto;
    background-color: #C8AE7D;
    border-radius: 8%;
    opacity: 90%;
    box-shadow: 20px 20px 50px 15px rgb(39, 16, 16);
    padding: 1%;
}

table {
    margin: 2% auto;
}

table, td {
    border: 1px solid black;
    cursor: pointer;
    border-collapse: collapse;
}

.board td {
    width: 30px;
    height: 30px;
    text-align: center;
    transition: 0.5s;
    padding: 2px;
}

.cell{
    background-color: rgb(179, 175, 175);
    border-color: aliceblue;
}

.cell:hover{
background-color: rgb(139, 12, 12);
}

.mark{
    background-color: rgb(132, 128, 128);
    border-color: rgb(95, 93, 93);
    cursor: not-allowed;
}

.box{
    float: left;
    width: 33%;
    text-align: center;
}

.life{
    display: inline-block;
    font-size: 40px;
}

.restart{
    transition: 1s;
    font-size: 90px;
    background: transparent;
    border: none;
    cursor: pointer;
    margin: auto;

}

.restart:hover{
    font-size: 120px;
    transition: 0.5s;
    margin-inline-start: auto;
}

.btn{
    border: 1px solid black;
    display: block;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    margin: 3% auto;
    transition: 0.5s;
    background-color: #DFA878;
}

.hint, .safe-cell, .manual{
    background-color: #fffc51ce;
}

.btn:hover{
    width: 120px;
    /* background-color: #F4D160; */
    transition: 0.2s;
}

.btn1:hover{
        background-color: rgba(83, 227, 83, 0.728);
}
.btn2:hover{
        background-color: rgb(255, 172, 28);
}
.btn3:hover{
        background-color: rgb(240, 92, 55);
}

.btn-levels{
    width: 33.333%;
    display: inline-block;
    text-align: center;
}

.hints-container{
        display: inline-block;
   text-align: center;
}

.time, .bomb-left{
    display: block;
    text-align: left;
    margin: 20%;

}

.title{
    font-size: 40px;
    font-family: 'Shadows Into Light', cursive;
    color: beige;
    text-align: center;
}

.best-score-title{
    text-align: center;
}

#best-score{
    color: rgb(72, 3, 3);
    font-size: 20px;
}

.hint-back{
    background-color: rgb(134, 134, 191);
}

.container{
    display: flex;
    justify-content: space-between;
}

.btn-off{
    background-color: #413F42;
    cursor: not-allowed;
}

.btn-toggle{
    background-color: #ffae00eb;
    font-size: 20px;
}